<div class="container">
    <h4>Bienvenido al panel de administrador</h4>
    <p>Aquí podrá cargar peliculas, acceder a un listado de las mismas para modificar su visibilidad y aprobar reseñas para que las mismas sean visibles. Para continuar, seleccione una operación.</p>

    <div class="contBtns">
        <a [routerLink]="['/admin/peliculas']">Cargar Pelicula</a>
        <a [routerLink]="['/admin/resenas']">Reseñas</a>
        <a [routerLink]="['/admin/listPeliculas']">Listado Peliculas</a>
    </div>
    
</div>