<div class="container">

    <h4 *ngIf = "error; else noError">{{message}}</h4>

    <ng-template #noError>
        <h4 class = "green">{{message}}</h4>
    </ng-template>

    <table>
        <tr>
            <th>Pelicula</th>
            <th>Año</th> 
            <th>Director</th>
            <th>Género</th>
            <th>Visible</th>
        </tr>

        <tr *ngFor = "let p of peliculas">
            <td>{{p.nombre_pelicula}}</td>
            <td>{{p.ano_pelicula}}</td>
            <td>{{p.director_pelicula}}</td>
            <td>{{p.nombre_genero}}</td>
            <td>
                <button (click) = "visible(0, p.id_pelicula)" *ngIf = "p.visible_pelicula == 1; else noVisible">
                    <i class="fas fa-eye"></i>
                </button>
            </td>

            <ng-template #noVisible>
                <button (click) = "visible(1, p.id_pelicula)"><i class="fas fa-eye-slash"></i></button>
            </ng-template>
        </tr>
    </table>
</div>