.container {
    width: 100%;
    height: auto;
    padding: 1em;
}

button {
    border: none;
    background: none;
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(36, 31, 63,0.5);
}

button:hover {
    color: #E6B020;
    transition: 0.5s ease;
}