<div class="container">
    <div class="row">
        <div class="filtros">
            <h3>Filtrar por:</h3>
            <select #antiguedad (change)="selectAntiguedad(antiguedad.value)">
                <option value = "1">Más nuevas</option>
                <option value = "2">Más antiguas</option>
            </select>
            <select #genero (change)="selectGenero(genero.value)">
                <option value = "0">Todas</option>
                <option value = "1">Acción</option>
                <option value = "2">Ciencia Ficción</option>
                <option value = "3">Terror</option>
                <option value = "4">Suspenso</option>
                <option value = "5">Drama</option>
                <option value = "6">Comedia</option>
                <option value = "7">Romance</option>
                <option value = "8">Aventura</option>
                <option value = "9">Musical</option>
            </select>
        </div>
        <div class="col-2" *ngFor = "let p of peliculas">
            <div class="pelicula">
                <a [routerLink]="['/pelicula/', p.id_pelicula]">
                    <div class="imgPelicula">
                        <img src = "{{'http://localhost:3000/' + p.imagen_pelicula}}">
                        <div class="overlay"></div>
                        <div class="texto">
                            <h2>{{p.nombre_pelicula}}</h2>
                            <h4>({{p.ano_pelicula}})</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
